<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.google.rels.server.GreetingServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Data</servlet-name>
		<servlet-class>com.google.rels.client.DataTest</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RecordData</servlet-name>
		<servlet-class>com.google.rels.client.RecordData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EvaluateServlet</servlet-name>
		<servlet-class>com.google.rels.server.Evaluate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/greet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Data</servlet-name>
		<url-pattern>/Data</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecordData</servlet-name>
		<url-pattern>/RecordData</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EvaluateServlet</servlet-name>
		<url-pattern>/Evaluate.do</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
